.content {
    border: solid 2.5px rgb(199, 199, 199);
    margin: 24px 12px;
    padding: 6px 12px 12px 12px;
    border-radius: 8px;
}

.content .title {
    width: fit-content;
    background-color: white;
    padding: 0px 6px;
    position: relative;
    left: -2px;
    top: -22px;
    margin-bottom: -16px;
}